html {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(122, 122, 180);
    background: linear-gradient(90deg, rgb(80, 178, 196), rgb(172, 214, 172), rgb(159, 159, 221));
    margin: 0;
    color: hsl(269, 34%, 19%);
}

main {
    background-color: rgb(172, 214, 172);
}

.main {
    width: 90%;
    min-width: 200px;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-family: serif;
    font-size: 2.5rem;
    text-align: center;
}

p, label {
    font-size: 1.2rem;
    margin: 1rem 0;
}

p[id="description"] {
    font-style: italic;
    text-align: center;
}

.inline {
    display: block;
    margin: 0 0 1rem 0;
    height: 2rem;
    font-size: 1.2rem;
}

fieldset {
    margin: 1rem 0 0 0;
    border: none;
}

label {
    display: block;
}

select {
    display: block;
    margin-top: 1rem;
    width: 40%;
    height: 2rem;
    font-size: 1.2rem;
}

textarea {
    font-size: 1.2rem;
    margin-top: 1rem;
}

button {
    font-size: 1.2rem;
    width: 7rem;
    height: 2rem;
    background-color: rgb(80, 178, 196);
}

button:hover {
    background-color: rgb(122, 122, 180);
}