html {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(122, 122, 180);
    background: linear-gradient(90deg, rgb(80, 178, 196), rgb(172, 214, 172), rgb(159, 159, 221));
    margin: 0;
    color: hsl(269, 34%, 19%);
}

.main {
    width: 80%;
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-family: serif;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.inline {
    display: block;
    margin: 0 0 1rem 0;
}

fieldset {
    margin: 1rem 0;
}