/* CSS normalization */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

html {
    font-size: 62.5%;
}

/* mobile first */
header {
    position: fixed;
    top: 0;
}
/* sm breakpoint */
@media (min-width: 640px) {
    
}

/* md breakpoint */
@media (min-width: 768px) {
    
}

/* lg breakpoint */
@media (min-width: 1024px) {
    
}

/* xl breakpoint */
@media (min-width: 1280px) {
    
}

/* 2xl breakpoint */

@media (min-width: 1536px) {
    
}