/* CSS normalization */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

/* mobile first */
.container {
    width: 90%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

section {
    padding-top: 20vh;
}

nav {
    height: 100%;
}

nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav ul li {
    text-align: center;
    font-size: 3.2rem;
}

li a {
    text-decoration: none;
}

#welcome-section, #contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-section h1, #welcome-section h2, #welcome-section p {
    text-align: center;
    padding: 1rem;
}

#welcome-section h1 {
    font-size: 3.8rem;
}

#welcome-section h2 {
    font-size: 3rem;
}

#welcome-section p {
    font-size: 2.4rem;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects h1, #contact > h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.6rem;
}

.project-tile {
    width: 100%;
    height: 50vh;
    padding-bottom: 3rem;
}

.thumbnail {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail i {
    font-size: 15rem;
}

.project-tile p {
    height: 15%;
    text-align: center;
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-tile a {
    text-decoration: none;
}

#contact {
    height: 80vh;
}

.social {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.fab {
    font-size: 3rem;
    margin-right: 1rem;
}

.social h1 {
    font-size: 2rem;
}

.social a {
    text-decoration: none;
}

footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}
/* sm breakpoint */
@media (min-width: 560px) {
    header {
        height: 10rem;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5%;
    }
    
    nav ul li {
        text-align: center;
        font-size: 3.2rem;
        margin-right: 1.5rem;
    }

    nav ul li:last-of-type {
        margin: 0;
    }

    section {
        padding-top: 10rem;
    }
}

/* md breakpoint */
@media (min-width: 768px) {
    
}

/* lg breakpoint */
@media (min-width: 1024px) {
    
}

/* xl breakpoint */
@media (min-width: 1280px) {
    
}

/* 2xl breakpoint */

@media (min-width: 1536px) {
    
}